.custom-resizer{
  background-color: green;
  width: 20px;
  border: 1px solid red;
}
.challenge-page{
  display: flex;
  .challenge-section-xs{
    display: none;
  }
  .challenge-section{
    border: 1px solid #0D6EFD;
    // background-color: white;
    overflow: scroll;
      scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .challenge-section::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 460px) {
    display: block;
    .challenge-section{
      display: none;
    }
    .challenge-section-xs{
      display: block;
      margin-bottom: 1rem;
    }
  }
}
// span.react-resizable-handle.react-resizable-handle-se{
//     height: 100%;
//     background-color: red;
// }
.container-fluid {
  .row {
    .col-xs-6 {
      &.bg-primary {
        background-color: blue;
      }
      .row {
        &.h-75 {
          height: 75%;
        }
        .col {
          &.bg-secondary {
            background-color: gray;
          }
        }
      }
      .row {
        &.h-25 {
          height: 25%;
        }
        .col {
          &.bg-success {
            background-color: green;
          }
        }
      }
    }
  }
}
