.user-challenges{
    margin: 1rem;
    .user-header-challenges{
        text-align: center;
    }
    @media (max-width: 576px) {
        margin: 0;
    }
    // .challenges-user-list{
    //     // display: flex;
    //     .challenge-user-item{
    //         border: 1px solid red;
    //         display: flex;
    //         gap: 0.5rem;
    //     }
    // }
}