.user-challenges{
    margin: 1rem;
    .user-header-challenges{
        text-align: center;
    }
    .challenges-menu{
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        select{
            width: auto;
            flex-grow: 2;
        }
        .group-bottom{
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
            flex-grow: 2;
            .custom-form-check{
                display: flex;
                align-items: baseline;
                align-content: baseline;
            }
        }
        margin-bottom: 0.5rem;
        flex-wrap: wrap;
    }
    @media (max-width: 576px) {
        margin: 0;
        margin-top: 0.5rem;
    }
}
.create-cchallenge-form{
    h5{
        text-align: center;
    }
    padding: 1rem;
    .form-challenge-create{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        select{
            width: 100%;
        }
        .test-description, .test-value{
            width: calc((100% - 106px - 1.5rem)/2);
        }
        .horizontal-tags{
            max-width: 100%;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
    }
    width: 60vw;
    @media (max-width: 567px) {
        width: calc(100vw - 4rem);
        padding: 0;
    }
    
}
.create-new-challenge-form{
    max-height: calc(100vh - 4rem);
    overflow-x: hidden;
    overflow-y: scroll;
}