.challenge-item{
    background: rgb(105, 182, 233);// rgb(202, 226, 242);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    p{
        margin: 0;
    }
    .metadata-challenge{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: 0.5rem;
        max-width: 15rem;
        font-size: 14px;
        text-align: right;
    }
    .challenge-topsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .topic-name{
            font-size: 14px;
        }
    }
}
.challenge-list-top-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    .challenge-title{
        margin: 0;
    }
    .sort-challenges{
        width: calc(100% - 10rem);

    }
}
