.active{
    background-color: #0d47a1;
    background-color: #4285F4;
    color: #fff;
}
.darktheme .dropdown-item{
    color: #59698d;
}

@media (max-width: 575.98px) { 

 #basic-navbar-nav.navbar-collapse.collapse.show {
    padding-top: 8px;
}

}
.navbar-toggler {
    margin-bottom: 8px;
}
.navbar-toggler.collapsed {
    margin-bottom: 0px;
}