.side{
    width: auto;
}
.side.darktheme{
    a{
        background: #191A16;
        color: #59698d;
    }
    a:hover{
        background: #F8F9FA;
        color: #495057;
    }
    a.active{
        background: #0D6EFD;
        color: #FFFFFF;
    }
}
.darktheme{
    .dropdown-menu, .show{
        background: #191A16;
    }
    .dropdown-divider{
        background-color: #59698d
    }
}
.dropdown-menu, .show{
    width: 100%;
}
.sidebar-dropdown-name{
    font-size: 18px;
    margin-bottom: 0;
}
.dropdown-turned{
    transform: rotate(90deg) translateX(200px) translateY(70px);
    min-width: 200px;
    width: auto;
}
.list-group.list-group-flush.show.dropdown{
    background: transparent;
}
.hiddenDropdown{
    display: none;
}
.hide-btn{
    width: 100%;
    border-radius: 0;
}
.hiddenSidebar{
    display: none;
}